/* Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }
  
  /* Container for the whole app */
  .App {
    background-color: #f4f4f9;
    padding: 20px;
    text-align: center;
  }
  
  /* Main title of the app */
  .App h1 {
    font-size: 1.5rem;
    _color: #3c3a3a;
    color:#fff;
    margin-bottom: 20px;
  }
  
  /* Heading for each section (vegetarian, non-vegetarian, dessert) */
  h2 {
    font-size: 2rem;
    color: #bcbfaa;
    _margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  /* Recipe title styles */
  h3 {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
    text-transform: uppercase;
  }

  .txtSmall {
    font-size: 0.8rem;
    color: #333;
    margin: 10px 0;
  }

  a {
    text-decoration: none;
    background-color: #fff;
    color: #28292a;
    width: fit-content;
    _padding: 0.5rem 1rem;
    text-decoration: none;
  }
  
  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  .title{
    _font-family: Georgia, Times, 'Times New Roman', serif;
    color: #3c3a3a;
    margin: 10px 0;
    text-transform: uppercase;
    text-decoration: none;
  }

  .recipeTitle{
    _font-family: Georgia, Times, 'Times New Roman', serif;
    color: #3c3a3a;
    text-decoration: none;
  }

  .recipeTitleHeight{
    height:50px;
    display:block;
  }

  .topBarTitle{
    color: #555353;
    font-size: 1.6rem;
    font-family: Georgia, Times, 'Times New Roman', serif;
  }

  .description{
    font-size: 1rem;
    _font-family: Georgia, Times, 'Times New Roman', serif;
    color: #3c3a3a;
    margin: 10px 0;
  }

  /* Styling the recipe images */
 

  /* Instructions section style */
  p {
    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    margin: 10px auto;
    text-align: left;
  }
  
  /* Loading spinner or message */
  .loading {
    font-size: 1.2rem;
    color: #888;
    margin-top: 50px;
    font-weight: bold;
  }
  
  /* Recipe container (for each recipe section) */
  .recipe-container {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 12px;
    max-width: 800px;
    transition: all 0.3s ease;
  }
  
  .recipe-container:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.2);
  }
  
  
  .recipe-top-containers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:40px;
  }
  
  /* button overlapping the image style */
  .image-container {
    position: relative;
    width: 100%;
    gap:15px;
  }

  /* Image styling */
  .image-container img {
    _width: 100%;
    _height: auto;
    object-fit: cover; 
    display: block;
  }

  .side-border{
    border-left: 1px solid #d9d7c8;
    border-right: 1px solid #d9d7c8;
    border-top: 1px solid #d9d7c8;
  }
  
  /* Button styling */
  .image-container .infoTop {
    font-family: Georgia, 'Times New Roman', Times, serif;
    left:5%;
    padding: 7px 20px;
    background-color: rgb(76, 74, 53,0.9);
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    width:100%;
  }

  .image-container .info {
    left:5%;
    padding: 15px 20px;
    _background-color: rgb(76, 74, 53,0.9);
    color: rgb(76, 74, 53,0.9);
    border: 1px solid #d9d7c8;
    font-size: 0.95rem;
    font-weight: 500;
    cursor: pointer;
    width:100%;
  }

  .image-container .button {
    position: absolute;
    bottom: -25px; /* Position from the bottom of the image */
    left:5%;
    padding: 15px 20px;
    background-color: rgb(76, 74, 53,0.9);
    color: white;
    border: none;
    font-size: 1.15rem;
    font-weight: 500;
    cursor: pointer;
    width:90%
  }

  .image-container .button:hover {
    background-color: rgb(76, 74, 53,0.9);
  }

  .moreSaveBtns{
    border: 1px solid #989a98;
    padding:5px;
    font-size: 0.55rem;
  }
  
  ul {
    padding-left: 20px; /* Add padding to space bullets from the text */
  }
  
  li {
    margin-bottom: 10px; /* Add space between list items */
  }

  .home-link:link{
    background: none;
    text-decoration: none;
    cursor: pointer;
  }

  .contentContainer{    font-size: 1rem;
    line-height: 1.5;
    color: #555;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    text-align: left;
    font-family: Georgia, Times, 'Times New Roman', serif;
  }

  .noBorderButton{
    border: none;
    background-color: transparent;
    width: fit-content;
    padding: 0rem;
    text-decoration: none;
  }
  .allButtons{
    background-color: #5f5e4a;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    color:#fff;
    border:0;
  }

  .searchBox{
    padding-top:110px
  }

  .search-container {
    position: relative;
    display: inline-block; 
    padding-top:55px;
  }
  
  .search-input {
    padding-left: 30px; /* Adjust as needed */
    font-family: Georgia, Times, 'Times New Roman', serif;
    height: 40px;
    padding: 11px 20px;
    width: 14vw;
    border: 1px solid #eaeaea;
    box-shadow: none;
    outline: none;
    appearance: none;
    background-color: rgb(247, 247, 247);
    border-radius: 4px;
    font-size: 0.9rem;
  }
  
  .search-input::placeholder {
    font-style: italic;
  }
  
  .search-container::before {
    content: "\f002"; /* Unicode for Font Awesome search icon */
    font-family: FontAwesome;
    position: absolute;
    left: 10px;
    top: 79%;
    transform: translateY(-50%);
    font-style: normal;
    color:#989a98;
    font-weight:400;
  }
  
  .horizontal-categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.vertical-categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.category-item {
    padding: 5px 0px;
    /* margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px; */
    cursor: pointer;
    position: relative; /* Required for absolute positioning of tags */
    border-bottom:1px solid #eaeaea;
}

.category-title{
  font-size: 0.9rem;
}

.category-item h6 {
    margin: 0;
}

.tags-on-hover {
    _position:absolute;
    top: 100%; /* Position below the category */
    left: 30px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    _border: 1px solid #ddd;
    border-radius: 5px;
    z-index: 1; /* Ensure tags appear above other content */
    display: flex;
    flex-direction: column;
}

.tag {
    padding: 5px;
    margin: 2px;
    background-color: #f0f0f0;
    border-radius: 3px;
    font-size: 0.8em;
    display: flex;
    text-wrap: nowrap;
    width:100%;
    
}

.logoImage{
  width:5%;
  position: absolute;
}

/* for hamburger menu on mobile*/
.menu-item-trigger{
  display:none;
} 

.hide-on-desktop {
  display: none;
}

/* Styling for Chips */
.selected-tags {
  display: flex;
  flex-direction:row;
  gap: 8px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.tag-chip {
  background-color: rgb(161, 143, 122);
  color:#fff;
  padding: 4px 8px;
  border-radius: 2px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.75rem;
}

.remove-tag {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: bold;
}
/* .menu-item-category{display:none;} */

/* style for Latest Recipe */

.first-recipe-description{
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color:#d9d7c8;
  padding:20px;
  align-items: center; /* Horizontally center the items */
}

.first-recipe-description-text1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.6rem;
  background-color:#d9d7c8;
}

.first-recipe-description-text2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 0.9rem;
  font-style: italic;
}

.second-recipe-description{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4rem;
  padding:10px;
  background-color: #5f5e4a;
  top:-54px;
  color:white;
  position: relative;
  white-space: nowrap;            /* Prevent the text from wrapping */
  overflow: hidden;               /* Hide the overflowing text */
  text-overflow: ellipsis; 
}
.tip{
  padding:10px;
  _background-color:#2d4558;
  background-color: #a18f7a;
  color:#fff;
}
.tipBtn{
  color:#fff;
  border:none;
  background-color:#a18f7a;
  font-size:0.8rem;
}
.tipBtn::after{
  content: "\2192";
}
.viewLatest:after{
  content: "\2192";
}

/* style for Latest Recipe */
  /* Media Queries for Responsive Design */
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
  
    h2, h3 {
      font-size: 1.5rem;
    }
  
    img {
      max-width: 90%;
    }
  
    .recipe-container {
      padding: 15px;
    }
  
    p {
      font-size: 0.95rem;
    }
    .recipe-top-containers{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap:40px;
      }
    
      .searchBox {
        padding-top: 30px;
    }
      .search-input {
        width:80vw;
      }
      .search-container::before {
        left:20px;
      }

      .menu-item-category{
        display: none;
      } 
      .menu-item-trigger{
        display:block;
        text-align: center;
      }
      .menu-item-category.is-open{
        display: block;
        transition: right 0.5s ease-in-out; 
      } 
      .search-container::before {
        left: 50px;
      }
      .horizontal-categories {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        border:1px solid #eaeaea;
        -webkit-box-shadow: 0 4px 6px -6px #222;
        -moz-box-shadow: 0 4px 6px -6px #222;
        box-shadow: 0 4px 6px -6px #222;
    }
    .tags-on-hover {
      position:relative;
    }
    .tag {
      text-wrap: wrap;
      flex: 1 1 30%; /*grow | shrink | basis */
    }
    .logoImage{
      width:20%;
      position: absolute;
    }
    
 
  }
  